<div class="container sala">
    <form [formGroup]="formularioDeAgendamentoSala" (ngSubmit)="getAgendamentosExistentes()">

        <!-- Este combo recupera as salas -->
        <div class=" form-group">
            <label for="sala"><strong>Escolha uma Sala</strong> </label>
            <select formControlName="idSala" class="form-control">
                <option value="">Selecione uma sala</option>
                <option *ngFor="let sala of salaModel" value=1>{{ sala.nome }} -
                    Capacidade:
                    {{ sala.capacidade }}
                </option>

            </select>
        </div>

        <!-- Título do Agendamento de sala -->
        <div class="form-group">
            <label for="titulo">Título </label>
            <input type="text" formControlName="titulo" class="form-control" id="titulo"
                placeholder="Exemplo: Definição de projeto">
        </div>
        <div class="row">
            <div class="col-md-3">
                <!-- Data e Hora Inicial -->
                <div class="form-group">
                    <label for="data-hora-inicial">Data Hora Inicial</label>
                    <input formControlName="dataHoraInicial" type="datetime-local" class="form-control"
                        id="data-hora-inicial">
                </div>
            </div>

            <!-- Data e Hora Final -->
            <div class="col-md-3">
                <div class="form-group">
                    <label for="data-hora-final">Data Final </label>
                    <input formControlName="dataHoraFinal" type="datetime-local" class="form-control"
                        id="data-hora-final">
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-success"
                [disabled]="!formularioDeAgendamentoSala.valid">Salvar</button>
        </div>
    </form>

    <!-- Mensagens caso haja agendamentos existentes conforme período informado -->

    <div class="alert alert-warning" role="alert">
        Para a sala selecionada existe um ou mais agendamentos
    </div>
    <h5 class="text-info text-center">Salas Agendadas</h5>
    <table class="table table-bordered table-striped text-center">
        <thead>
            <tr>
                <th scope="col">Sala</th>
                <th scope="col">Data e Hora Inicial</th>
                <th scope="col">Data e Hora Final</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>34</td>
                <td>23/11/2020 14:00</td>
                <td>23/11/2020 17:00</td>
            </tr>
            <tr>
                <td>34</td>
                <td>23/11/2020 14:00</td>
                <td>23/11/2020 17:00</td>
            </tr>
            <tr>
                <td>34</td>
                <td>23/11</td>
                <td>14:00</td>
            </tr>
        </tbody>
    </table>
</div>