<div class="container sala">
    <form [formGroup]="formularioDeAgendamentoSala" (ngSubmit)="insereAgendamentoSala()">
        <!-- Este combo recupera as salas -->
        <div class=" form-group">
            <select formControlName="idSala" class="salas-disponiveis" class="form-control" (change)="limpaCampos(1)">
                <option value="">Selecione uma sala</option>
                <option *ngFor=" let sala of salaModel" value="{{ sala.id }}">
                    Nome: {{ sala.nome }} - Capacidade: {{ sala.capacidade }} pessoas
                </option>
            </select>
        </div>

        <!-- Título do Agendamento de sala -->
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="titulo">Título </label>
                    <input type="text" formControlName="titulo" class="form-control" id="titulo"
                        placeholder="Exemplo: Definição de projeto">
                </div>
            </div>
            <!-- Data e Hora Inicial -->
            <div class="col-md-4">
                <div class="form-group">
                    <label for="data-hora-inicial">Data e Hora Inicial</label>
                    <input formControlName="dataHoraInicial" type="datetime-local" class="form-control"
                        id="data-hora-inicial">
                </div>
            </div>

            <!-- Data e Hora Final -->
            <div class="col-md-4">
                <div class="form-group">
                    <label for="data-hora-final">Data e Hora Final </label>
                    <input formControlName="dataHoraFinal" type="datetime-local" class="form-control"
                        id="data-hora-final">
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-success"
                [disabled]="!formularioDeAgendamentoSala.valid">Salvar</button>
        </div>
    </form>

    <!-- Mensagens caso haja agendamentos existentes conforme período informado -->
    <div *ngIf="insereAgendamentoModel" class="agendamento-existente">
        <div class="alert alert-warning text-center" role="alert">
            <strong> Para a sala selecionada existe um ou mais agendamentos </strong>
        </div>
        <h5 class="text-info text-center">Salas Agendadas</h5>
        <table class="table table-bordered table-striped text-center">
            <thead>
                <tr>
                    <th scope="col">Sala</th>
                    <th scope="col">Data e Hora Inicial</th>
                    <th scope="col">Data e Hora Final</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let agendamentos of insereAgendamentoModel">
                    <tr>
                        <td>{{ agendamentos.idSala }} - {{ agendamentos.titulo }}</td>
                        <td class="text-success">{{ agendamentos.dataHoraInicial | date:'dd/MM/yyyy HH:mm' }} </td>
                        <td class="text-danger">{{ agendamentos.dataHoraFinal | date:'dd/MM/yyyy HH:mm' }}</td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>
</div>

<ngx-notifier></ngx-notifier>