<main role="main" class="container">

    <div class="dashboard">
        <!-- <h1>Controle De Salas</h1> -->
    </div>
    <i class="fas fa-sync-alt"></i>
    <div class="row text-center">
        <div class="col-md-6">
            <h4 class="text-info"> Salas disponíveis</h4>
            <ul class="list-group">
                <ng-container *ngFor="let agendamentos of agendamentosEndSalasModel">
                    <li *ngIf="agendamentos.idSala == 0" class="list-group-item">Sala: {{ agendamentos.nomeSala }} -
                        Capacidade: {{ agendamentos.capacidadeSala}} </li>
                </ng-container>
            </ul>
        </div>
        <div class="col-md-6">
            <h4 class="text-danger">Salas Agendadas</h4>
            <ul class="list-group">
                <ng-container *ngFor="let agendamentos of agendamentosEndSalasModel">
                    <li *ngIf="agendamentos.idSala != 0" class="list-group-item">Sala: {{ agendamentos.nomeSala }} -
                        Capacidade: {{ agendamentos.capacidadeSala}}
                    </li>
                </ng-container>

            </ul>
        </div>
    </div>